Source: ros-galactic-ublox-msgs
Section: misc
Priority: optional
Maintainer: Veronica Lane <vmlane@alum.mit.edu>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake-ros, ros-galactic-rosidl-default-generators, ros-galactic-sensor-msgs, ros-galactic-std-msgs, ros-galactic-ublox-serialization, ros-galactic-ros-workspace, ros-galactic-rosidl-typesupport-fastrtps-c, ros-galactic-rosidl-typesupport-fastrtps-cpp
Homepage: http://ros.org/wiki/ublox
Standards-Version: 3.9.2

Package: ros-galactic-ublox-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-sensor-msgs, ros-galactic-std-msgs, ros-galactic-ublox-serialization, ros-galactic-ros-workspace
Description: ublox_msgs contains raw messages for u-blox GNSS devices.
