Source: ros-humble-ublox
Section: misc
Priority: optional
Maintainer: Veronica Lane <vmlane@alum.mit.edu>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: http://wiki.ros.org/ublox
Standards-Version: 3.9.2

Package: ros-humble-ublox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ublox-gps, ros-humble-ublox-msgs, ros-humble-ublox-serialization, ros-humble-ros-workspace
Description: Provides a ublox_gps node for u-blox GPS receivers, messages, and serialization packages for the binary UBX protocol.
